nav{
    width:100%;
    background: #fdcb94;
    color:#5d3102;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 180px;
}
nav ul li{
    display: inline-block;
    list-style: none;
   
    margin: 5px 20px;
    font-size: 16px;
}
.signin {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  
  .signin-btn {
    background: #531e04;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .signin-btn:hover {
    background: #d77a50;
  }

  .navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .active{
    padding-bottom: 2px;
    border-bottom: 2px solid  #531e04;
  }
  .navbar li{
    cursor: pointer;
  }

.navbar-search-icon{
position: relative;
}
.navbar-search-icon .dot {
position: absolute;
min-width: 10px;
min-height: 10px;
background-color: rgb(237, 59, 28);
border-radius: 5px;
top: -8px;
right: -8px;
}
@media(max-width:1050px){
  .navbar.logo{
    width: 140px;
  }
  .navbar-menu{
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right{
    gap: 30px;
  }
  .navbar-right img{
    width: 22px;
  }
  .navbar-right button{
    padding: 8px 25px;
  }
}

@media(max-width:900px){
  .navbar.logo{
    width: 120px;
  }
  .navbar-menu{
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right{
    gap: 20px;
  }
  .navbar-right img{
    width: 20px;
  }
  .navbar-right button{
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media(max-width:750px){
  
  .navbar-menu{
   display: none;
  }
  
}


